<nav class="navbar navbar-expand-md navbar-light bg-white shadow px-5">
    {% if app.request.attributes.get('_route') == 'event_event_index' %}
        <a class="navbar-brand" href="{{ main_website }}">
            <img src="{{ asset('/logo.svg') }}" alt="Logo" height="90px"
                 style="margin-top: -10px; margin-bottom: -10px">
        </a>
    {% else %}
        <a class="btn btn-primary" href="{{ path('event_event_index') }}">Back to events</a>
    {% endif %}

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {% if is_granted("ROLE_ADMIN_USER") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin2_user_index') }}">User activation</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            {% if app.environment == 'dev' %}
                <li class="nav-item">
                    <a class="btn navbar-text bg-danger" href="#">dev</a> &nbsp;
                </li>
            {% endif %}
            {% if is_granted('IS_IMPERSONATOR') %}
                <a class="btn navbar-text bg-warning" href="{{ impersonation_exit_path(
                    path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')
                    ) ) }}">Exit impersonation</a>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                </li>
            {% endif %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <span class="nav-item navbar-text mr-sm-2">Logged in as</span>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_profile') }}">{{ app.user.name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('_logout_main') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
