{# @var event App\Entity\Event\Event #}
{% set subscription = event.subscription(app.user) %}
<div class="card">
    {% if event.image %}
        <img class="card-img-top" src="{{ vich_uploader_asset(event.image) }}" alt="{{ event.name }} image">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">{{ event }}</h5>
        <p class="card-text"><small class="text-muted">
                {% for tag in event.tags %}
                    <span class="badge bg-primary">{{ tag }}</span>
                {% endfor %}<br>
                Start: {{ event.startDate ? event.startDate|date('Y-m-d H:i') : '' }} <br>
                End: {{ event.startDate ? (event.startDate.add(event.duration))|date('Y-m-d H:i') : '' }} <br>
                Duration: {{ event.duration|time_duration }} <br>
                Location: {{ event.location }}
                {% if event.amountOfSubscriptions > 0 %}
                    <br>Subscriptions: <span class="badge bg-success rounded-pill">{{ event.amountOfSubscriptions }}</span>
                {% endif %}
            </small></p>
        <p class="card-text">{{ event.description|truncate(100)|markdown_to_html }}</p>
    </div>

    <ul class="list-group list-group-flush">
        {% if subscription %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">You are subscribed</div>
                <span class="badge bg-success rounded-pill">{{ subscription.amount }}</span>
            </li>
        {% endif %}
    </ul>

    <div class="card-body">
        <div class="btn-group">
            {% if is_granted('subscribe', event) or not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="btn btn-success"
                   href="{{ path('event_subscription_subscribe', {'id': event.id}) }}">Subscribe</a>
            {% endif %}
            {% if subscription and is_granted('unsubscribe', event) %}
                <a class="btn btn-info"
                   href="{{ path('event_subscription_unsubscribe', {'id': subscription.id}) }}">Unsubscribe</a>
            {% endif %}
        </div>
        <div class="btn-group">
            <a class="btn btn-info" href="{{ path('event_event_show', {'id': event.id}) }}">Details</a>
            {% if is_granted('ROLE_EVENT_EDIT') %}
                <a class="btn btn-warning" href="{{ path('event_event_edit', {'id': event.id}) }}">Edit</a>
            {% endif %}
        </div>
    </div>
</div>