{% extends 'base/base.html.twig' %}

{% set title %}Show event {{ event }}{% endset %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('event_event_index') }}">Back to list</a>

    {% if is_granted('ROLE_EVENT_ADMIN') %}
        <a class="btn btn-warning" href="{{ path('event_event_edit', {'id': event.id}) }}">Edit</a>
        <a class="btn btn-danger" href="{{ path('event_event_delete', {'id': event.id}) }}">Delete</a>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        {% set subscription = event.subscription(app.user) %}
        {% if not subscription or is_granted('ROLE_EVENT_ADMIN') %}
            <a class="btn btn-success" href="{{ path('event_subscription_subscribe', {'id': event.id}) }}">Subscribe</a>
        {% endif %}
        {% if subscription %}
            <a class="btn btn-success" href="{{ path('event_subscription_unsubscribe', {'id': subscription.id}) }}">Unsubscribe</a>
        {% endif %}
    {% endif %}

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ event.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <th>Start</th>
            <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Subscription deadline</th>
            <td>{{ event.subscriptionDeadline ? event.subscriptionDeadline|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ event.location }}</td>
        </tr>
        <tr>
            <th>Subscribers</th>
            <td>
                <div class="list-group">
                    {% for subscription in event.eventSubscriptions %}
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start {% if subscription.createdUser is same as(app.user) %}list-group-item-success{% endif %}"
                           href="#">
                            <div class="ms-2 me-auto">
                                {{ subscription.createdUser }}
                            </div>
                            <span class="badge bg-primary rounded-pill">{{ subscription.amount }}</span>
                        </a>
                    {% endfor %}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
