{% extends 'base/single.column.html.twig' %}

{% set title %}Event {{ event }}{% endset %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('event_event_index') }}">Back to list</a>

    {% if is_granted('ROLE_EVENT_EDIT') %}
        <a class="btn btn-danger" href="{{ path('event_event_delete', {'id': event.id}) }}">Delete</a>
    {% endif %}
    {% if event.recurringEvent and is_granted('ROLE_EVENT_RECURRING') %}
        <a class="btn btn-info"
           href="{{ path('event_recurring_event_show', {'id': event.recurringEvent.id}) }}">Parent</a>
    {% endif %}
    <br><br>

    <div class="row">
        <div class="col-md-4">
            {{ include('event/event/card.html.twig', {event: event}) }}
        </div>
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    {% if event.subscriptionDeadline %}
                        <tr>
                            <th>Subscription deadline</th>
                            <td>{{ event.subscriptionDeadline ? event.subscriptionDeadline|fdate : '' }}</td>
                        </tr>
                    {% endif %}
                    {% if event.subscriberLimit > 0 %}
                    <tr>
                        <th>Subscriber limit</th>
                        <td>{{ event.subscriberLimit ?? 'None' }}</td>
                    </tr>
                    {% endif %}
                    {% if event.recurringEvent and is_granted('ROLE_EVENT_ADMIN') %}
                        <tr>
                            <th>Recurring every</th>
                            <td>{{ event.recurringEvent.recurrenceRule }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Member Price</th>
                        <td>
                            {% if event.memberPrice %}
                                € {{ event.memberPrice }}
                            {% else %}
                                Free
                            {% endif %}
                        </td>
                    </tr>
                    {% if event.guestPrice is not null %}
                    <tr>
                        <th>Guest Price</th>
                        <td>
                            {% if event.guestPrice %}
                                € {{ event.guestPrice }}
                            {% else %}
                                Free
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Description</th>
                        <td>{{ event.description|markdown_to_html }}</td>
                    </tr>
                    {% if is_granted('ROLE_USER') %}
                        <tr>
                            <th>Subscribers</th>
                            <td>
                                <ul class="list-group">
                                    {% for subscription in event.eventSubscriptions %}
                                        <li class="list-group-item d-flex justify-content-between align-items-start {% if subscription.createdUser is same as(app.user) %}list-group-item-success{% endif %}">
                                            {% if is_granted('edit', subscription) %}
                                                <div class="ms-2 me-2">
                                                    <a class="btn btn-sm btn-warning"
                                                       href="{{ path('event_subscription_edit', {'id': subscription.id}) }}">Edit</a>
                                                </div>
                                            {% endif %}
                                            <div class="ms-2 me-auto">
                                                {{ subscription.createdUser }}
                                            </div>
                                            {% if subscription.note %}
                                                <div class="ms-2 me-auto">{{ subscription.note|nl2br }}</div>
                                            {% endif %}
                                            <span class="badge bg-primary rounded-pill">{{ subscription.amount }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                    {% if is_granted('ROLE_EVENT_ADMIN') %}
                        <tr>
                            <th>Subscriber emails</th>
                            <td>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEmails" aria-expanded="false" aria-controls="collapseEmails">
                                        Show all subscriber emails
                                    </button>
                                </p>
                                <div class="collapse" id="collapseEmails">
                                    <div class="card card-body">
                                        {% for subscription in event.eventSubscriptions %}
                                            {{ subscription.createdUser.email }}<br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
