{% extends 'base/single.column.html.twig' %}

{% set title %}Event calendars{% endset %}

{% block actions %}
    <a class="btn btn-sm btn-outline-primary" href="{{ path('event_event_index') }}">Back to events</a>
{% endblock %}

{% block body %}
    <p class="text-muted small mb-3">Copy a URL and import it into your calendar app to stay up to date.</p>

    <h5>General</h5>
    <div class="input-group mb-2">
        <span class="input-group-text">All events</span>
        <input type="text" class="form-control" value="{{ url('event_calendar_all') }}" disabled>
    </div>
    {% if app.user %}
        <div class="input-group mb-2">
            <span class="input-group-text">Your events</span>
            <input type="text" class="form-control" value="{{ url('event_calendar_user', {user: app.user.id}) }}" disabled>
        </div>
    {% endif %}

    {% if tags is not empty %}
        <h5 class="mt-3">By tag</h5>
        {% for tag in tags %}
            <div class="input-group mb-2">
                <span class="input-group-text">{{ tag }}</span>
                <input type="text" class="form-control" value="{{ url('event_calendar_tag', {tag: tag.id}) }}" disabled>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
