{% extends 'base/single.column.html.twig' %}

{% set title %}All event calendars{% endset %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('event_event_index') }}">Back to events</a>
    <p>
        This page lists all event calendars. You can view all events, your own events or events by tag. <br>
        Copy the url, this can then be imported to your calendar application to keep it up to date.
    </p>
    <h5>Generic</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">All events</span>
        <input type="text" class="form-control" aria-describedby="allEvents" value="{{ url('event_calendar_all') }}" disabled>
    </div>
    {% if app.user %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Your events</span>
            <input type="text" class="form-control" aria-describedby="yourEvents" value="{{ url('event_calendar_user', {user: app.user.id}) }}" disabled>
        </div>
    {% endif %}
    <h5>By tag</h5>
    {% for tag in tags %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{ tag }}</span>
            <input type="text" class="form-control" aria-describedby="{{ tag.name }}" value="{{ url('event_calendar_tag', {tag: tag.id}) }}" disabled>
        </div>
    {% endfor %}
{% endblock %}
