{% extends 'base/single.column.html.twig' %}

{% set title %}Recurring events{% endset %}

{% block actions %}
    <div class="btn-group btn-group-sm">
        <a class="btn btn-outline-primary" href="{{ path('event_event_index') }}">Back to events</a>
        {% if is_granted('ROLE_EVENT_RECURRING') %}
            <a class="btn btn-outline-success" href="{{ path('event_recurring_event_new') }}">Create new</a>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
    {% if recurringEvents is empty %}
        <div class="text-center py-5 text-muted">
            <p class="fs-5">No recurring events</p>
        </div>
    {% else %}
        <div class="list-group">
            {% for recurringEvent in recurringEvents %}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    {{ recurringEvent }}
                    {% if is_granted('ROLE_EVENT_RECURRING') %}
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-outline-primary" href="{{ path('event_recurring_event_show', {'id': recurringEvent.id}) }}">Show</a>
                            <a class="btn btn-outline-warning"
                               href="{{ path('event_recurring_event_edit', {'id': recurringEvent.id}) }}">Edit</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
