{% extends "base/base.html.twig" %}

{% set title %}{{ app.user.name }} profile{% endset %}

{% block body %}
    <div class="row">
        <div class="col-sm">
            <b>Id:</b> {{ app.user.id }} <br/>
            <b>Username:</b> {{ app.user.username }} <br/>
{#            {% if is_granted('ROLE_API') %}#}
{#                Your api key: {{ app.user.apiKey }} <a class="btn btn-primary" href="{{ path('user_apikey_generate') }}">Regenerate</a> <br/>#}
{#            {% endif %}#}
            <br/>
            {% if is_granted('ROLE_ADMIN') %}
                <br/><br/>
                <h4>Latest release stats</h4>
                Branch: {{ release.branch }} <br/>
                Date: {{ release.date }} <br/>
                Hash short: {{ release.commitHashShort }} <br/>
                Hash long: {{ release.commitHashLong }} <br/>
                Commit date: {{ release.commitDate }} <br/>
            {% endif %}
        </div>
        <div class="col-sm">
            <h4>Change profile</h4>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}