{% extends 'email/base.html.twig' %}

{% block body %}
<h3>Welcome {{ user.name }}!</h3>

<p>
    You signed up with the username "{{ user.username }}" and the following email:
</p>
<p><code>{{ user.email }}</code></p>

<p>
    You can log in
    <a href="{{ url('login') }}">Here</a>
</p>

{#<p>#}
{#    <a href="#">Click here to activate your account</a>#}
{#    (this link is valid until {{ expiration_date|date('F jS') }})#}
{#</p>#}
{% endblock %}